{include file="common/header"}
<div id="right_content">
    <div class="top-info">
        <i class="glyphicon glyphicon-home"></i>
        后台管理员
    </div>
    
    <!-- 菜单 -->
    <ul class="clearfix menu">
        <li>
            <a href="#" class="this">数据列表</a>
        </li>
        <li>
            <a 
                href="{:url('add')}" 
                target="frame_dispose" 
                onclick="open_frame('添加', 100, 100, true);">
                添加数据
            </a>
        </li>
    </ul>

    <div class="table-box">
        <table class="table">
            <tr>
                <th width="20">#</th>
                <th>用户名</th>
                <th>是否锁定</th>
                <th>所属组</th>
                <th width="100">操作</th>
            </tr>
            {foreach $data AS $v}
                <tr>
                    <td></td>
                    <td>{$v.username}</td>
                    <td>
                        {if condition="$v['islock'] eq 0"}
                        <span class="label label-info f12">否</span>
                        {else}
                        <span class="label label-danger f12">是</span>
                        {/if}
                    </td>
                    <td>
                        {foreach $v.name AS $val}
                            {$val.name} ,
                        {/foreach}
                    </td>
                    <td class="operation">
                        <a href="{:url('edit',['aid'=>$v['aid']])}" target="frame_dispose" 
                        onclick="open_frame('Create data', 100, 100, true)" 
                        class="glyphicon glyphicon-edit" title="编辑"></a>

                        <a class="glyphicon glyphicon-trash" 
                        onclick="ajax_post('{:url('del')}',{'aid':{$v['aid']}});" title="删除"></a>

                    </td>
                </tr>
            {/foreach}

        </table>
    </div>
</div>

<script type="text/javascript">

</script>
{include file="common/footer"}