<link rel="stylesheet" href="/static/common/date-plugin/jalendar/style/jalendar.css" type="text/css" />
<style>
    .jalendar{
    position: absolute; top: 30px; left: 0;
    z-index: 9999; display: none;
}
.dateplugin{
    position: relative;
}
.close-date{
    position: absolute; right: 5px; top: 5px; color: #fff;
    font-size: 16px; z-index: 10000; cursor: pointer;
}
.close-date:hover{
    color: #d9534f;
}
</style>
<script type="text/javascript" src="/static/common/date-plugin/jalendar/js/jalendar.min.js"></script>
<script type="text/javascript" src="/static/common/dateplugin.js?a=4"></script>